        <!-- 引用 artitalk -->
<!-- 存放说说的容器 -->
<div id="artitalk_main"></div>
<script>
      function load_artitalk() {
    setTimeout(function() {
        var HEAD = document.getElementsByTagName('head')[0] || document.documentElement;
        var src = '<%= theme.CDN.shuoshuo.artitalk %>'
        var script = document.createElement('script')
        script.setAttribute('type','text/javascript')
        script.onload = function() {
           pjax_artitalk()
        }
        script.setAttribute('src', src)
        HEAD.appendChild(script)
    }, 1);
};
function pjax_artitalk() {
    if(!document.querySelectorAll("#artitalk_main")[0])return;
    new Artitalk({
    serverURL: '<%= theme.shuoshuo.artitalk.serverURL %>',
    appId: '<%= theme.shuoshuo.artitalk.appID %>', // Your LeanCloud appId
    appKey: '<%= theme.shuoshuo.artitalk.appKey %>' // Your LeanCloud appKey
});
}
load_artitalk();
document.addEventListener('pjax:complete', function () {
    pjax_artitalk();
});
</script>