<% if(theme.comment.twikoo.envId) { %>
  <div id="tcomment"></div>
  <script>
          function load_twikoo() {
          setTimeout(function() {
              var HEAD = document.getElementsByTagName('head')[0] || document.documentElement;
              var src = 'https://cdn.staticfile.org/twikoo/1.5.11/twikoo.all.min.js'
              var script = document.createElement('script')
              script.setAttribute('type','text/javascript')
              script.onload = function() {
                 pjax_twikoo()
              }
              script.setAttribute('src', src)
              HEAD.appendChild(script)
          }, 1);
      };
      function pjax_twikoo() {
          if(!document.querySelectorAll("#tcomment")[0])return;
          twikoo.init({
            envId: '<%= theme.comment.twikoo.envId %>', // 腾讯云环境填 envId；Vercel 环境填地址（https://xxx.vercel.app）
    el: '#tcomment', // 容器元素
    region: '<%= theme.comment.twikoo.region %>', // 环境地域，默认为 ap-shanghai，腾讯云环境填 ap-shanghai 或 ap-guangzhou；Vercel 环境不填
    path: location.pathname, 
    lang: '<%= theme.comment.twikoo.lang %>',
          });
      }
      load_twikoo();
      document.addEventListener('pjax:complete', function () {
          pjax_twikoo();
      });
  </script>
  <% } %>