<link rel="stylesheet" href="<%- theme.CDN.comment.waline.css %>" />
  
    <div id="waline"></div>
  
  <script>
function load_waline() {
    setTimeout(function() {
        var HEAD = document.getElementsByTagName('head')[0] || document.documentElement;
        var src = '<%- theme.CDN.comment.waline.js %>'
        var script = document.createElement('script')
        script.setAttribute('type','text/javascript')
        script.onload = function() {
           pjax_waline()
        }
        script.setAttribute('src', src)
        HEAD.appendChild(script)
    }, 1);
};
function pjax_waline() {
    if(!document.querySelectorAll("#waline")[0])return;
    Waline.init(Object.assign(<%- JSON.stringify(theme.comment.waline) %>, {
        el: '#waline',
    }));
}
load_waline();
document.addEventListener('pjax:complete', function () {
    pjax_waline();
});
  </script> 