<article  class="animated rubberBand article article-type-" >
  <div class="article-inner" style="padding: 15px 10px 15px 10px;">
    <form class="d-flex">
      <button class="btn text-muted fa fa-search" disabled></button>
      <input id="local-search-input" class="form-control me-2 pe-4" type="search"
              placeholder="要搜什么？" aria-label="Search">
    </form>
    <div id="local-search-result"></div>
  </div>
</article>

