.footermar {
	width: 100%;
	background-color: rgba(65,65,65,0.9);
	white-space: nowrap;
	overflow: hidden;
	color: @white;
}
.hitokoto {
	position: relative;
	width: fit-content;
	animation:move 25s linear infinite;
				padding-left:100%;
}
.hitokoto::after{
	position: absolute; 
	right:-100%;
	content:attr(text);
}

@keyframes move {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
#footer {
  padding: 20px;
  width: 100%;
	color: @white;
  margin: 0px auto;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
	background-color: rgba(65,65,65,0.8);
	a {
		color: fade(@white,80%);
	
		&:hover {
		  background: fade(@accent-color, 10%);
		  color: darken(@accent-color, 3%);
		}
	  }
	.footer-left{
		text-align: left;
    display: inline;
    float: left;
	}
	.footer-right{
		text-align: right;
	}
}
