<section class='m_widget about'>
<% if(config.avatar) { %>
<img class='avatar waves-image' src='<%= url_for(config.avatar) %>' />
<%} %>
<div class='header'><i class="fa fa-user" aria-hidden="true"></i><%=config.author %></div>
<div class='content'>
<div class='desc'><%= config.subtitle%></div>
</div>
</section>