<section class='m_widget weather'>
<div class='header'><i class="fa fa-cloud" aria-hidden="true"></i><%- __('sidebar.weather') %></div>
<div class='content'>
  <div id="weather"></div>
  <script src="https://cdn.staticaly.com/gh/StarWEB890/TuChuang@master/weather.js"></script>
</div>
</section>