<footer id="footer" class="clearfix">
  <div>
    Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>. All Rights Reserved.<br>
    <% if (theme.moeicp.enable){ %>
      <a href="https://icp.gov.moe/?keyword=<%= theme.moeicp.code %>" target="_blank">萌ICP备<%= theme.moeicp.code %>号</a>
      <br>
    <% } %>
    <% if (theme.busuanzi){ %>
      <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
      <span id="busuanzi_container_site_pv">
        <i class="fa fa-user"></i> 总访问量：<span id="busuanzi_value_site_pv"></span>次
    </span> |
    <span id="busuanzi_container_site_uv">
      <i class="fa fa-eye"></i> 访客数量：<span id="busuanzi_value_site_uv"></span>人次
    </span>
    <br>
    <% } %>
    <i class="fa fa-clock-o" aria-hidden="true"></i>
    <span id="timeDate">载入天数...</span><span id="times">载入时分秒...</span>
    <script>
        var now = new Date();
        function createtime() {
            var grt= new Date("12/1/2021 00:00:00");
            now.setTime(now.getTime()+250);
            days = (now - grt ) / 1000 / 60 / 60 / 24; dnum = Math.floor(days);
            hours = (now - grt ) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours);
            if(String(hnum).length ==1 ){hnum = "0" + hnum;} minutes = (now - grt ) / 1000 /60 - (24 * 60 * dnum) - (60 * hnum);
            mnum = Math.floor(minutes); if(String(mnum).length ==1 ){mnum = "0" + mnum;}
            seconds = (now - grt ) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum);
            snum = Math.round(seconds); if(String(snum).length ==1 ){snum = "0" + snum;}
            document.getElementById("timeDate").innerHTML = "本站已运行："+dnum+" 天 ";
            document.getElementById("times").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒";
        }
    setInterval("createtime()",250);
    </script>
    <br>
    Powered by <a href="https://hexo.io">Hexo</a> | Themes <a href="https://github.com/StarWEB890/hexo-theme-singo">SinGO</a>
    <br>
    <br>
    </div>
</footer>

